<h2>User Registration</h2>


<button class="btn btn-success" @onclick="ChangeForm">Already have an account? Log in here!</button>
@code {
    [Parameter]
    public Customer Customer { get; set; }

    [Parameter]
    public EventCallback OnGoToLogIn{ get; set; }

    public async Task ChangeForm()
    {
        await OnGoToLogIn.InvokeAsync();
    }
}
