@using WebShop.Data
@page "/product"
@page "/product/{Id:int}"

@rendermode InteractiveServer
@inject WebShopHandler wsh
@inject NavigationManager navigationManager

<PageTitle>ProductInfo</PageTitle>

<WebshopHeader ShoppingListLength="@wsh.ShoppingCart.Count()"
               OnNavigationToCashier="GoToCheckout"></WebshopHeader>

<div>
    <nav stype="--bs-breadcrumb-divider:'>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" <a href="/">Home</a></li>
            <li class="breadcrumb-item active"> <a href="#">@Product.Name</a></li>
        </ol>
    </nav>
</div>

<ProductInfoCard Product="Product"
                 OnAddToCart="()=>AddToCart(Product.Id)"></ProductInfoCard>
<WebshopFooter></WebshopFooter>

@code {
    [Parameter]
    public int Id { get; set; }

    bool error = false;
    public string errorMessage = string.Empty;
    public string NotFound { get; set; } = string.Empty;
    public Products Product = new();

    public void GoToCheckout() => navigationManager.NavigateTo("/checkout");

    public void AddToCart(int id)
    {
        wsh.AddToCart(id);
    }

    protected override void OnInitialized()
    {
        Product = wsh.Products;
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            // products = wsh._db.GetList();
            // product = wsh._db.Products.Find(p => p.Id == Id);

            StateHasChanged();
        }
    }
}
