@using WebShop.Data
@page "/product"
@page "/product/{Id:int}"

@rendermode InteractiveServer
@inject NavigationManager navigationManager
@inject AuthenticationStateProvider StateProvider
@inject WebShopHandler wsh
@inject UserManager<ApplicationUser> userManager

<PageTitle>ProductInfo</PageTitle>

<WebshopHeader ShoppingListLength="@wsh.ShoppingCart.Count()"
               OnNavigationToCashier="GoToCheckout"></WebshopHeader>

<div>
    <nav stype="--bs-breadcrumb-divider:'>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" <a href="/">Home</a></li>
            <li class="breadcrumb-item active"> <a href="#">@Product.Name</a></li>
        </ol>
    </nav>
</div>

<ProductInfoCard Product="Product"
                 OnAddToCart="()=>AddToCart(Product.Id)"></ProductInfoCard>
<WebshopFooter></WebshopFooter>

@code {
    [Parameter]
    public int Id { get; set; }
    ApplicationUser? user;
    AuthenticationState authenticationState;


    bool error = false;
    public string errorMessage = string.Empty;
    public string NotFound { get; set; } = string.Empty;
    public Products Product = new();

    public void GoToCheckout() => navigationManager.NavigateTo("/checkout");

    public void AddToCart(int id)
    {
        wsh.AddToCart(id, user);
    }

    protected override void OnInitialized()
    {
        Product = wsh.GetProductsById(Id);
    }

    protected override async Task OnInitializedAsync()
    {
        authenticationState = await StateProvider.GetAuthenticationStateAsync();
        var stateUser = await userManager.GetUserAsync(authenticationState.User);
        if (stateUser is not null)
            user = await wsh.GetUserShopinglistInfo(stateUser);
        else
        {
            navigationManager.NavigateTo("/");
        }
        StateHasChanged();
    }
}

