@page "/confirmation"
@using WebShop.Data;
@using System.Security.Claims;
@using WebShop.Common;

@rendermode InteractiveWebAssembly

@inject HttpClient HttpClient
@inject NavigationManager navigationManager
@inject AuthenticationStateProvider StateProvider
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage

<h3>Confirmation</h3>

@code {

    AuthenticationState authenticationState;


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            authenticationState = await StateProvider.GetAuthenticationStateAsync();
            var userId = authenticationState
            .User
            .Claims
            .Where(c => c.Type == ClaimTypes.NameIdentifier)
            .First()
            .Value;

            ShoppingList = await sessionStorage.GetItemAsync<List<CartItem>>(userId);
            StateHasChanged();
        }
    }
}
