<form>
    <div class="mb-3">
        <label class="form-label">Username</label>
        <input type="text" class="form-control" required/>
    </div>
    <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" required/>
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" required/>
        <label>Agree to privacy policy</label>
    </div>
    <div>
        <input type="submit" class="btn btn-secondary" />
    </div>
</form>
<br />

<button class="btn btn-success" @onclick="@ChangeForm">
    Don't have an account? Sign up here!
</button>

@code {
    [Parameter]
    public Customer Customer { get; set; } = new();

    [Parameter]
    public EventCallback OnSubmit { get; set; }

    [Parameter]
    public EventCallback OnGoToRegistration{ get; set; }

    public async Task ChangeForm()
    {
        await OnSubmit.InvokeAsync();
    }
    public async Task GoToRegistration()
    {
        await OnGoToRegistration.InvokeAsync();
    }
}
